body {
    font-family: sans-serif;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(14,15,47,1) 41%, rgba(23,78,89,1) 100%);
    background-repeat: no-repeat;
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
}

.all-users,
.user-info {
    background: rgb(17, 66, 107);
    margin: .5em;
}

.all-users {
    width: 80%;
    order: 2;
}
.user-info {
    width: 20%;
    order: 1;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    color: #fff;
    border-bottom: 3px solid #fff;
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }

    &__user-info {
        background: yellowgreen;
        font-size: 1.5em;
        padding: .2em .4em;
        cursor: pointer;
    }
}

.content {
    &__header,
    &__user {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 150px 150px;
        background: rgb(224, 230, 233);
        align-items: center;
        justify-items: center;

        &--user-info {
            // grid-template-columns: repeat(3, 1fr) 150px 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1em .5em;
        }
    }

    &__header {
        border-bottom: 3px solid grey;
        position: sticky;//nc
        top: 0;//nc
        left: 0;//nc
        & p:last-child {
            grid-column: span 2;
            justify-self: center
        }
    }
    // &__user{
    //     border-bottom: 1px solid grey;
    // }
    &__users{
        background: rgb(224, 230, 233);
        height:70vh;
        overflow-y: scroll;//nc 
    }

    &__link {
        text-decoration: none;
        padding: 1em 0;
    }

    &__text {
        text-transform: capitalize;

        &--email {
            text-transform: lowercase;
        }

        &--header {
            text-transform: uppercase;
        }
        &--item{
            margin: .5em 0 ;
        }

    }
}

.button {
    border-radius: 5px;
    padding: .5rem .9em;
    cursor: pointer;
    color: #fff;
    display: block;
    text-decoration: none;
    border: none;

    & i {
        padding-left: .8rem;
    }

    &--edit {
        background: green;
        margin-left: 7em;
    }
    &--delete{
        margin-right: 7em;
    }

    &--delete,
    &--cancel {
        background: crimson;
    }

    &--hide {
        display: none;
    }

    &--addUser{
        background: green;
    }

    &--cancel{
        margin-right: 1em;
    }
}